*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #111;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

.userContainer{
	display: block;
	max-width: 400px;
	margin: auto;
	margin-bottom: 2em;
}

.userBodyContainer{
	display: flex;
	flex-direction: column;
	background-color: #444;
	max-width: 100vw;
	padding: 1em;
	border-radius: 0px 0px 10px 10px;
	margin: auto;
}

.userMainHeader{
	display: flex;
	max-width: 100vw;
	height: 70px;
	border-radius: 10px 10px 0px 0px;
	background-color: #64AFE5;
	margin: 2em auto;
	margin-bottom: 0px;
	width: 100%;
}

.userMainHeader img{
	display: flex;
	border-radius: 50%;
	margin-left: 1em;
	margin-top: .5em;
	width: 28%;
	height: 110px;
	border: 6px solid #444;
}

.userHeader{
	display: flex;
	position: relative;
	flex-direction: column;
	background-color: #222;
	padding-bottom: .8em;
	margin-bottom: .8em;
	border-bottom: 1px solid #555;
}

.userHeader h1{
	font-size: 1.5em;
}

.nick{
	color: #eee;
}

.id{
	color: #aaa;
}

.nickContainer{
	display: flex;
}

.icon{
	position: relative;
	background-color: rgba(59, 185, 93);
	border-radius: 50%;
	width: 1.7em;
	height: 1.7em;
	border: 5px solid #444;
	margin-top: 5.3em;
	margin-left: -2.2em;
}

.status{
	display: block;
	margin-top: 1em;
	font-size: .9em;
	color: #ccc;
	font-weight: normal;
}

.userMainBody{
	margin-top: 3em;
	color: #ddd;
	padding: 1em;
	border-radius: 10px;
	background-color: #222;
}

.categories{
	font-size: .8em;
	margin-bottom: .8em;
	font-weight: bold;
	color: #eee;
}

.desc, .dms{
	margin-bottom: .8em;
	color: #ccc;
}

.note{
	background-color: #222;
	border: none;
	width: 100%;
	color: #ccc;
	padding: 5px;
	padding-top: 0px;
	max-width: 100%;
	font-size: .8em;
	margin-left: .5em;
}

.note:focus{
	outline: none;
}

.message{
	background-color: #222;
	border: 1px solid #444;
	border-radius: 5px;
	width: 100%;
	color: #ccc;
	font-size: .9em;
	padding: 10px;
	padding-top: 14px;
	padding-bottom: 14px;
	margin-top: 1.8em;
	max-width: 100%;
}

.message:focus{
	outline: none;
}

footer{
	display: flex;
	flex-direction: row;
	align-items: center;
	bottom: 0;
	background-color: #333;
	position: relative;
	padding: .5em;
	color: #ccc;
}

footer a{
	color: #ccc;
	text-decoration: none;
}

footer a:hover{
	text-decoration: underline;
}

footer p{
	margin: auto;
}