*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

body{
	background-color: #313338;
}

.user{
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: #232428;
	color: #ddd;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	height: 100%;
	min-height: 100px;
	width: 360px;
	border-radius: 8px;
	overflow: hidden;
	margin: 20px auto 20px auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);
}

.user-header{
	display: flex;
	flex-direction: column;
	height: 105px;
}

.user-background{
	background-color: #228;
	min-height: 60px;
}

.pfp-bolinha{
	display: flex;
	flex-direction: column;
	transform: translateY(-40px);
	margin-left: 20px;
}

.user-pfp{
	width: 85px;
	height: 85px;
	background-color: #111;
	border-radius: 50%;
	background-image: url("sonic.jpg");
	background-repeat: no repeat;
	background-size: cover;
	background-position: center;
	outline: 5px solid #232428;
}

.user-bolinha{
	display: block;
	background-color: #23A55A;
	width: 16px;
	height: 16px;
	outline: 5px solid #232428;
	border-radius: 15px;
	transform: translate(65px, -20px);
}

.user-body{
	position: relative;
	background-color: #111214;
	padding: 15px;
	margin: 15px;
	border-radius: 8px;
}

.user-name{
	border-bottom: 1px solid #2E2F34;
	margin-bottom: 15px;
}

.name-exb{
	font-size: 1.5em;
	margin-bottom: 2px;
}

.name-def{
	font-size: .9em;
	font-weight: bold;
	margin-left: 4px;
	margin-bottom: 10px;
	color: #ccc;
}

.user-sobre h1, .user-sobre p{
	font-size: .8em;
	margin-bottom: 10px;
}

.user-sobre p{
	color: #ccc;
}

.user-desde{
	margin-bottom: 20px;
}

.user-desde h1, .user-desde p{
	font-size: .8em;
	margin-bottom: 10px;
}

.user-desde p{
	color: #ccc;
	font-size: .9em;
}

.user-nota h1{
	font-size: .8em;
	margin-bottom: 5px;
}

.user-nota input[type="text"]{
	width: 100%;
	background-color: #111214;
	border: none;
	color: #ddd;
	margin-bottom: 10px;
	margin-left: 5px;
}

.user-nota input[type="text"]:focus{
	outline: none;
}

.user-mensagem input[type="text"]{
	width: 100%;
	padding: 12px;
	background-color: #111214;
	border: 1px solid #333;
	border-radius: 5px;
	font-size: .8em;
	font-weight: 200%;
	color: #ddd;
}

.user-mensagem input[type="text"]{
	outline: none;
}